var s = function (x) {
  var s = null
  switch (x) {
    case 1: s = 100; break
    case 2: s = 90; break
    case 3: s = 80; break
    case 4: s = 70; break
    case 5: s = 60; break
    case 6: s = 50; break
    case 7: s = 40; break
    case 8: s = 30; break
    case 9: s = 20; break
    case 10: s = 10; break
    default: break
  }
  return s
}
module.exports.score = s
